# Default Homebrew MySQL server config
[mysqld]
# Only allow connections from localhost
#bind-address = 127.0.0.1

#defalut is root, cant run at mac
user=mysql

socket = /usr/local/var/mysql/mysql.sock

[client]
#mysql -u root时需要
socket = /usr/local/var/mysql/mysql.sock